@namespace FantasyFootballBlazor.Client.Components
@using FantasyFootball.Shared

<div class="card shadow-sm">
    <div class="card-header bg-purple text-white text-center rounded-top">
        <h5 class="mb-0">@Title</h5>
    </div>
    <div class="card-body p-2">
        <div class="table-responsive rounded-top">
            <table class="table table-striped text-center border border-3 border-secondary">
                <thead class="bg-gradient-purple text-white rounded-top">
                    <tr>
                        <th class="rank-column">Rank</th>
                        <th>User</th>
                        <th>QB</th>
                        <th>RB</th>
                        <th>WR</th>
                        <th>TE</th>
                        <th>Kicker</th>
                        <th>Defense</th>
                    </tr>
                </thead>
                @foreach (var (pick, index) in Players.OrderByDescending(p => p.PlayerTotalPoints).Select((p, i) => (p, i + 1)))
                {
                    <tbody class="border border-3 border-secondary p-0">
                        <tr>
                            <td class="fw-bold align-middle">#@index</td>
                            <td class="fw-bold align-middle">@pick.UserName</td>
                            <td>
                                <RenderPlayerName FirstName="@pick.QuarterBackFirstName" LastName="@pick.QuarterBackLastName" />
                            </td>
                            <td>
                                <RenderPlayerName FirstName="@pick.RunningBackFirstName" LastName="@pick.RunningBackLastName" />
                            </td>
                            <td>
                                <RenderPlayerName FirstName="@pick.WideReceiverFirstName" LastName="@pick.WideReceiverLastName" />
                            </td>
                            <td>
                                <RenderPlayerName FirstName="@pick.TightEndFirstName" LastName="@pick.TightEndLastName" />
                            </td>
                            <td>
                                <RenderPlayerName FirstName="@pick.KickerFirstName" LastName="@pick.KickerLastName" />
                            </td>
                            <td>
                                <RenderPlayerName FirstName="@pick.DefenseName" LastName="@pick.DefenseName" IsDefense="true" />
                            </td>
                        </tr>
                        <tr class="bg-light">
                            <td></td>
                            <td class="fw-bold text-center">@pick.PlayerTotalPoints</td>
                            <td>@pick.QuarterBackTotalPoints</td>
                            <td>@pick.RunningBackTotalPoints</td>
                            <td>@pick.WideReceiverTotalPoints</td>
                            <td>@pick.TightEndTotalPoints</td>
                            <td>@pick.KickerTotalPoints</td>
                            <td>@pick.DefenseTotalPoints</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>


@code {
    [Parameter] public string Title { get; set; } = "Leaderboard";
    [Parameter] public List<WeeklyPicksModel> Players { get; set; } = new();   
}
